<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia de Viajes</title>
    <link rel="stylesheet" href="major.css">
</head>
<body>
    <header class="header">
        <div class="menu conatiner">
            <a href="#"class="logo">logo</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                        <li><a href="#">¿Quienes somos?</a></li>
                    <li><a href="#">Atencion al Cliente</a></li>
                     <li><a href="#">Planificar</a></li>
                      <li><a href="#">Reservar</a></li>
                       <li><a href="#">Mis Viajes </a></li>
                           <li><a href="#">Inicio de Sesion</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <h1>Travel agency</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Deserunt cumque nam a quidem, harum vel perferendis minima
                  qui laudantium consequatur architecto, beatae, libero quis
                   ipsa rem ut natus quod. Praesentium.
            </p>
            <a href="#" class="btn-1">informacion</a>
        </div>
    </header>

    <section class="Agency">
        <img src="images/" alt="">
        <div class="agency-content container">
            <h2>Cosas que hacer en Mexico </h2>
            esto es de prueba 
            
        </div>

    </section>
</body>
</html>